<div class="central-text text-center">
    <ul class="nav">
        <li><a href="/ru/br8v1.html" {% if page.url == '/ru/br8v1.html' %} class="active"{% endif %}>BR8</a></li>
        <li><a href="/doc.html" {% if page.url == '/doc.html' %} class="active"{% endif %}>Docs</a></li>
        <li><a href="/contact.html" {% if page.url == '/contact.html' %} class="active"{% endif %}>Contact</a></li>
        <li><a href="/en/br8v1.html" {% if page.url == '/en/br8v1.html' %} class="active"{% endif %}>Eng</a></li>
    </ul>
    <div><a href="http://biorecorder.com" class="logo">BioRecorder</a></div>
</div>



