/************************************************************************************
 BUTTONS
*************************************************************************************/

/**
 * helper mixin to set Buttons colors
 */
@mixin button-shadow($color: white, $alfa: 0.5) {
    -webkit-box-shadow: 0 1px 0 rgba($color, $alfa) inset;
    -moz-box-shadow: 0 1px 0 rgba($color, $alfa) inset;
    box-shadow: 0 1px 0 rgba($color, $alfa) inset;
}

@mixin button-color($btn-color, $btn-fill-color, $text-color) {
    color: $btn-color;
    border: 2px solid $btn-color;

    &:hover, &:focus, &:active {
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(white, 0.4);
        color: $text-color;
        background: $btn-fill-color;
        border-color: $btn-fill-color;
       // border-color: $brand-color;
    }
}

@mixin button-filled-color($btn-color, $btn-fill-color, $text-color) {
    background: $btn-fill-color;
    color: $text-color;
    text-shadow: 0 1px 1px rgba(white, 0.4);
    border: 2px solid $btn-fill-color;
  //  @include button-shadow();
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $btn-color;
        border-color: $btn-color;
        background: none;
        text-shadow: none;
    }
}


%button-base {
    @include inline-block;
    cursor: pointer;
    text-align: center;
    line-height: $line-height-small;
    text-decoration: none;
}


// Base Button style
// --------------------------------------------------

.button {
    @extend  %button-base;
    margin: $gap-base $gap-small;
    padding: $gap-small $gap-large;
    @include button-color($button-color, $button-fill-color, $button-text);
    @include border-radius($border-radius-large);
}



// painted, filled with the color buttons
.button--filled {
    @include button-filled-color($link-color, $brand-color, $button-text);

}



/************************************************************************************
ToTop Button
*************************************************************************************/

#toTop {
    @extend .button;
    margin: 0;
    padding: 0.7*$gap-base 1.2*$gap-base;
    @include border-radius($border-radius);
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 20;

    display: none;

    &:after {
        font-weight: bold;
        content: "\5E";

    }
}



