/************************************************************************************
COLORS
*************************************************************************************/

$gray: #6b717d;


$brand-color: lighten(#603, 10);

//$link-color: #884499;
$link-color: $brand-color; // #808;
$link-hover-color: #808;


// Base color theme
// ----------------------

$mixdreams-base-color: #FBF0D9;
$base-bg: #eae7e2;
$base-text: #333;


// Dark color theme
// ----------------------

$dark-bg: #200024;
$dark-bg: #200624;



// Lines and borders color
// ----------------------

$border-color: $brand-color;


// Nav colors
// ----------------------

$nav-color: lighten($gray, 30);
$nav-hover-bg: $brand-color;
$nav-hover-text: $nav-color;
$nav-hover-text-shadow: none;

//$nav-hover-text: #000000;
//$nav-hover-text-shadow: 0 1px 1px rgba(white, 0.4);



// Buttons color
// ----------------------

$button-text: #000000;
$button-color: $brand-color;
$button-fill-color: lighten($gray, 20);


// Forms
// -------------------------

$submit-button-color: #ccc;


@mixin gradient($from, $to) {
  background: $to; /* for non-css3 browsers */
  background: -webkit-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}


.dark-theme {
    background: $dark-bg;
}

.base-theme {
    background: $base-bg;
    color: $base-text;
    text-shadow: none;
    text-shadow: 0 1px 1px rgba(white, 0.4);
}







































