/************************************************************************************
COLORS
*************************************************************************************/


$brand-color: #990000;
$link-color: $brand-color;
$link-hover-color: #cc0000;


// Lines and borders color
// ----------------------

$border-color: $brand-color;


// Nav colors
// ----------------------

$nav-color: #dbd0ca;
$nav-hover-bg: $brand-color;
$nav-hover-text: $nav-color;
$nav-hover-text-shadow: none;

//$nav-hover-text: #000000;
//$nav-hover-text-shadow: 0 1px 1px rgba(white, 0.4);



// Buttons color
// ----------------------

$button-text: #000000;
$button-color: $brand-color;
$button-fill-color: #bd7f7c;


// Blockquotes
// -------------------------

$blockquote-border-color: $brand-color;


// Forms
// -------------------------

$submit-button-color: #ccc;


// Base color theme
// ----------------------

$base-bg: #eae7e2;
$base-text: #372b1d;



// Dark color theme
// ----------------------

$dark-bg1: #1c171e;
$dark-bg2: $dark-bg1;


@mixin gradient($from, $to) {
  background: $to; /* for non-css3 browsers */
  background: -webkit-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}


.dark-theme {
    background: $dark-bg1;
    @include gradient($dark-bg1, $dark-bg2);
}

.base-theme {
    background: $base-bg;
    color: $base-text;
    text-shadow: none;
    text-shadow: 0 1px 1px rgba(white, 0.4);
}







































