/************************************************************************************
COLORS
*************************************************************************************/



.light {
    background: $base-light-bg;
}

.dark {
    background: $dark-bg;
    color: $dark-text;
}































