/************************************************************************************
    HEADINGS
*************************************************************************************/

/**
 *  wherever possible is applied the principle of "Single-direction margin declarations"
 *  Source: http://csswizardry.com/2012/06/single-direction-margin-declarations/
 *  But instead of using margin-bottom I use margin-top.
 *  It is more logical that the position of the object depends upon it´s own properties(margin-top)
 *  and not upon the properties (margin-bottom) of the previous object
 */

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    line-height: $headings-line-height;
    margin-top: $gap-large;
    text-align: center;
}

h1 {
   // text-align: left;
    //font-weight: normal;
    margin-top: $gap-large;
    font-size: $font-size-h1 * $base-font-size * 1em;

        @include breakpoint(big) {
            font-size: $font-size-h1 * $base-font-size-screen-big * 1em;
        }

        @include breakpoint(small) {
            font-size: $font-size-h1 * $base-font-size-screen-small * 1em;;
        }
}

h2 {
    font-family: $font-family-arial;
    font-weight: normal;

      font-size: $font-size-h2 * $base-font-size * 1em;

            @include breakpoint(big) {
                font-size: $font-size-h2 * $base-font-size-screen-big * 1em;
            }

            @include breakpoint(small) {
                font-size: $font-size-h2 * $base-font-size-screen-small * 1em;;
            }
}

h3 {
    @include font-size($font-size-h3);
      font-size: $font-size-h3 * $base-font-size * 1em;

            @include breakpoint(big) {
                font-size: $font-size-h3 * $base-font-size-screen-big * 1em;
            }

            @include breakpoint(small) {
                font-size: $font-size-h3 * $base-font-size-screen-small * 1em;;
            }
}



.title {
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    padding-top: $gap-small;
    @include font-size($font-size-h1 * 0.9);
    @include rem-fallback(max-width, $width-text);
    @include rem-fallback(margin-right, $gap-base-rem);
    @include rem-fallback(margin-left, $gap-base-rem);
}
















