/************************************************************************************
 LOGO, BRAND
*************************************************************************************/

.logo {
    @include inline-block;
    vertical-align: baseline;
    padding-top: $gap-large;
    line-height: 1;
    font-size: $nav-font-size*1em;
    margin-left: $gap-small;
    margin-right: $gap-base;
    color: $brand-color;

    &:hover, &:focus, &:active {
        color: $brand-color;
        background: transparent;
        text-decoration: none;
    }
}





