/************************************************************************************
 NAVBAR
*************************************************************************************/

/**
 * NAVBAR is a container for navigation [ .nav ]
 */

.navbar {
   @extend %clearfix;
  // @extend .dark;
   text-align: left;

    margin-bottom: $gap-mini;
    margin-left: $gap-small;
    margin-right: $gap-small;
}

