/************************************************************************************
    Page footer
*************************************************************************************/

.page-footer {
    background-color: $base-bg;
    @extend .paddings;
    padding-bottom: $gap-base;

    box-shadow: 0 0 8px rgba($base-strong, 0.6);
    -webkit-box-shadow: 0 0 8px rgba($base-strong, 0.6);
    -moz-box-shadow: 0 0 8px rgba($base-strong, 0.6);
}



