/************************************************************************************
    Flex to stick footer down
    http://dimox.name/press_footer_bottom_with_css
    http://codepen.io/devatrox/pen/wztlx
    https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*************************************************************************************/


html, body {
  height: 100%;
}

.site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
  background: $base-bg;
}


.content {
    background: $base-bg;
    color: $base-text;
    text-shadow: 0 1px 1px rgba(white, 0.4);
}


.footer {
    margin: 0;
    padding: $gap-base;
    padding-top: 0;
    padding-bottom: $gap-mini;

    text-shadow: none;
   // text-shadow: 0.1em 0.1em 0.2em black;
   // background: $footer-bg;

  /*  box-shadow: 0 0 8px rgba($base-strong, 0.6);
    -webkit-box-shadow: 0 0 8px rgba($base-strong, 0.6);
    -moz-box-shadow: 0 0 8px rgba($base-strong, 0.6); */
}

