/************************************************************************************
Post, Articles
*************************************************************************************/

/** Preformed base classes for articles and blog posts
  */
.post {
    @extend %clearfix;
    @extend %text-normalize;
    margin: 0;
    padding-top: $gap-small;
    padding-bottom: $gap-large;
    background: $base-bg;
    color: $base-text;
    text-shadow: 0 1px 1px rgba(white, 0.4);

    blockquote p, .pullquote p {
        padding-left: 0;
        padding-right: 0;
    }

    .lead {
        @include rem-fallback(max-width, $width-text*1.2);
    }
}

